.section-header {
margin: 0px 0 18px;
border-bottom: 1px solid #eee;
}
.section-header h1 {
margin-bottom: 17px;
line-height: 1;
}

article{padding-top: 60px;}
/***Top Navigation Bar Styling***/
	/*Logged In State*/
		a.logged-in {
			float: left;
			display:block;
			line-height: 40px;
		}
		a.logged-in > img{
			padding: 0 .25em;
			width: 16px;
			height: 16px;
			vertical-align:text-bottom;

		}
		a.logged-in:hover{
			background: #0069D6;
		}
		a.logged-in + a.logged-in {
			margin-right: .5em;
		}

/***One Page Custom Template***/
article:first-of-type{
    margin-top:0;
    padding-top: 0;
}
.page-section > footer {
	margin: 0;
	border: 0;
}
.page-section > #content{
	padding: 0;
}

.fixed {
    position:fixed;
    top:0px;
    left:50%;
    margin-left:50px;
}

.static-width{
	width:auto;
}
header .inner{
	padding-top: 40px;
}
div[rel=Carousel]{
	margin-bottom: 20px;
}
i {
background-image: url('../images/glyphicons-halflings-sprite.png');
}

li#user{display:none;}

.hide{display:none !important;}


.masthead{
    margin-top: 20px;
    margin-bottom: 40px;
}
/* Special grid styles
-------------------------------------------------- */
/* Special grid styles
-------------------------------------------------- */
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
}
.show-grid:hover [class*="span"] {
  background: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}

.navbar .site.brand {
	padding: 8px 2px 12px 20px;
}

.edit_link{
    display:block;
    padding: .5em;
    position:relative;
    float:left;
    left:-40px;
    top: 5px;
    margin-right:-40px;
}

 @media (max-width: 480px) {
     .edit_link{
	 display:none;
     }
 }

@media (max-width: 768px){
	.show-grid [class*="span"]{
		margin-bottom: 5px;
	}
}
